.loginPage, .signupPage,.passwordPage,.adoptionPage,.updateProfilePage{
    background-color: #efeef1;
    max-width: 100vw;
    min-height: 87vh;
    padding-top: 5vh;
    display: flex;
    justify-content: center;
}



form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:40vw;
    height:50vh;
    background-color: #CFDEE7;
    border-radius: 10px;
    border: 1px solid #BCC2D0;
    border-radius: 5px;
    box-shadow: 1px 1px 5px  #BCC2D0;
}

form input{
width:15vw;
margin:10px;
padding:10px;
border-radius: 5px;
}

.loginPage a, .signupPage a{
    color:#4472CA;
}

.adoptionPage form{
    height: 80vh;
    width:60vw;
}
.adoptionPage input{
    width:30vw;
}

.updateProfilePage form{
    height: 60vh;
}

.loginPage form, .signupPage form{
    height:60vh;
}

@media(max-width:900px){
    .updateProfilePage form ,.signupPage form,.loginPage form,.passwordPage form, .adoptionPage form{
        width:80vw;
    }
    .updateProfilePage form input,.signupPage form input,.loginPage form input,.passwordPage form input, .adoptionPage form input{
        width:60vw;
    }

    .adoptionPage form{
        height:90vh;
    }
}
